.TestButton {
	background-color: #0A66C2;
        color: white;
        border: None;
        height: 40px;
        width: 105px;
        border-radius: 20px;
        font-weight: bold;
        cursor: pointer;
	position: relative;
	left: 50%;
	    -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

	.TestButton:hover {
	    opacity: 0.8;
	    box-shadow: 5, 5, 5, #00000027;
	}

	.TestButton:active {
	    opacity: 0.5;
	    box-shadow: 2, 2, 5, #00000027;
	}

	body {
	    background-color: #DBF9FC;
	    font-family: 'Lexend Deca', sans-serif;
	    width: 900px; 
	    margin: auto;
	}

	.MainTitle {
	    color: #2E475D;
	    text-align: center;
	    font-size: 80px
	}
