<!DOCTYPE HTML>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="home.css">
    </head>
    <body>
      <h1 class="MainTitle">Welcome.</h1>
      <button class="TestButton", type="Button", onclick="alert('TEST')">Click for fun</button>
      <!-- -- Deprecated
        -- --
        --<p class="AboutText"><a href="https://sntz55website.onrender.com/about">About</a></p>-->

      <div class="Nav">
          <a class="active" href="https://sntz55website.onrender.com/">Home</a>
          <a href="https://sntz55website.onrender.com/news">News</a>
          <a href="https://sntz55website.onrender.com/about">About</a>
      </div>
    </body>
</html>
