<!DOCTYPE HTML>
<html>
    <head>
        <title>Home</title>
    </head>
    <style>
        .TestButton {
            background-color: rgb(10, 102, 194);
            color: white;
            border: None;
            height: 40px;
            width: 105px;
            border-radius: 20px;
            font-weight: bold;
            cursor: pointer;
        }
    </style>
    <body>
        <h1>Hello! This is the homepage.</h1>
        <p><a href="https://sntz55website.onrender.com/about">About</a></p>
        <p><button class="TestButton", type="Button", onclick="alert('TEST')">Click for fun</button>
    </body>
</html>
